@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family:"Roboto" sans-serif;
}
.center{
    text-align:center;
    color:white;
}

button{
    width:66px;
    padding:20px;
    margin:0 5px;
    border-radius:9px;
    border:none;
    background-color:lightblue;
    transition:all 0.3s;
    font-size:22px;
}
button:hover{
 box-shadow:0px 8px 16px 0 rgba(0,0,0,0.2);
 padding:22px;
 width:70px;
}
.row{
    margin:5px 0;
}
.row input{
    width: 291px;
    font-size:20px;
    margin:0;
    padding:10px 0;
    border:none;
    border-radius:9px;
    background-color:lightblue;
}
.btn{
    background-color: lightcoral;
}
